body{
    background-image: url(img/starbucks_fondo.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
main{
    z-index: 100;
    position: fixed;
    top: 320px;
    left: 400px;
    display: flex;
    flex-direction: column;
    justify-items: center;
}
header{
    padding: 5px;
    margin: 5px;
}
#menu{
    display: flex;
    list-style: none;
    justify-content: center;
}
#menu li{
    margin: 10px;
}
#menu li a{
    text-decoration: none;
    padding: 13px;
    color: rgb(0, 0, 0);
    font-size: 20px;
}
#menu li a:hover{
    color: rgb(7, 95, 54);
}
p{
    color: rgb(4, 71, 13);
    text-align: center;
    font-size: 34px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
#redes{
    display: flex;
    justify-content: center;
    width: 100%;
}
#redes img{
    width: 30px;
    border-radius: 18px;
    padding: 9px;
}